*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.max-width {
  display: flex;
  max-width: 1080px;
}

button {
  background-color: #4525f2;
  color: #ffffff;
  padding: 13px 36px;
  border-radius: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style-type: none;
  font-family: Roboto;
}

header {
  color: white;
  background-image: url("/assets/img/topbg.jpg");
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 80px;
  font-family: Roboto;
  margin-top: 368px;
  margin-bottom: 55px;
}

.readmore {
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f2f2f2;
  gap: 40px;
}
.readmore p {
  font-family: Roboto;
  margin-left: 420px;
}

.grid {
  display: grid;
  max-width: 1920px;
  margin: 10px auto;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: ;
}

.blue {
  width: 1920px;
  margin: 0 auto;
  background-color: #2e00ff;
  color: white;
  padding: 60px 80px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 545px;
  column-count: 3;
  column-gap: 40px;
}

.blue h3,
p {
  font-size: 20px;
}

.blue a {
  color: white;
  text-decoration: underline;
}

.blue img {
  width: 234px;
  height: 208px;
  display: block;
  margin: 20px auto;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-family: Roboto;
  gap: 40px;
  flex-wrap: wrap;
}

.contact h4:first-of-type {
  flex-basis: 100%;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact p {
  max-width: 300px;
  margin-bottom: 20px;
  line-height: 1.4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  max-width: 500px;
}

form input[type="text"] {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  background-color: #f1f3f9;
  font-size: 14px;
  width: 100%;
}

form input:nth-child(1),
form input:nth-child(2) {
  width: calc(50% - 6px);
  display: inline-block;
}

form input:nth-child(1) {
  margin-right: 12px;
}

form input:nth-child(3) {
  height: 100px;
}

.send {
  background-color: #4828f0;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px 0;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  margin-left: 540px;
}

footer {
  background-color: #4525f2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: Roboto;
  font-size: 13px;
}

.social-icons i {
  margin-right: 15px;
  font-size: 20px;
  color: white;
}

.social-icons i:last-child {
  margin-right: 0;
}

footer p {
  margin: 0;
  font-weight: bold;
}
